<!DOCTYPE html>
<html>
  <head>
    <title>Startup Hacks</title>
    <%= csrf_meta_tags %>
    <head profile="http://www.w3.org/2005/10/profile">
      <link rel="icon" type="image/png" href="https://s3-us-west-2.amazonaws.com/startupacademy-yvr/ico/favicon-96x96.png">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- NAV -->
    <%= render partial: '/layouts/partials/nav' %>

    <%= yield %>

    <!-- FOOTER -->
    <%= render partial: '/layouts/partials/footer' %>

    <!-- MODAL -->
    <%= render partial: '/partials/speakers/modals' %>





  </body>
</html>
